<div class="parent">
  <mat-toolbar color="primary" class="header">
    <div class="headerTitle"> My To-do List App</div>

    <div class="barspace">
      <div class="headerBtns">
        <div style="display: table-row;">
          <div class="icons">
            <br>
            <a href="https://github.com/ben-tancock">
              <img class="iconImgs" src="../../assets/images/giticon.png" alt="">
            </a>
            <p class="iconLabel">Github</p>
          </div>

          <div  class="icons">
            <br>
            <a href="https://www.linkedin.com/in/ben-tancock/">
              <img class="iconImgs" src="../../assets/images/linkedin_icon.png" alt="">
            </a>
            <p class="iconLabel">LinkedIn</p>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <div class="registerText">
    <strong>Registration successful!</strong>
    <p style="margin-top: 5%;"><a href="">Click here if not redirected in 5 seconds...</a></p>
  </div>


  </div>
