.header{
  width: 100% !important;
  height: 13%;
}

.headerBtns{
  text-align: center;
  width: 30%;
  display: table;
  margin-left: 20%;

}

span{
  padding-right: 1rem;
}

.headerTitle{
  justify-self: left;
}

.barspace{
  width: 100%;
}

.icons {
  display: table-cell;
  vertical-align: middle;
  height: 120px;
}


.iconImgs{
  width: 20px;
  height: 20px;
  vertical-align: middle;

}

.iconLabel{
  font-size: 12px;
}

#title {
  vertical-align: top;
  text-align: center;
  height: 10%;
  font-size: 25px;
}

.btnContainer {
  align-content: center;
  text-align: center;
}


.parent {
  width: 100%;
  height: 100%;
}

.registerText {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 30px;
}
