<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'push' : 'side'"
      [opened]="(isHandset$ | async) === true"
      style="background-color: #2e2d2dfa;">
    <mat-toolbar style="color: rgb(166, 167, 167);">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>

      <a (click)='logout()' mat-list-item href="#"> <span style="margin-right: 45px;" class="material-icons">power_settings_new</span> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>todolist</span>
    </mat-toolbar>

    <app-title></app-title>
    <!--input var of todo = navbar_var.asObservable-->
    <!-- We're passing an observable from parent component (navbar) to child component (todo), and then subscribing to it in todo.
      when the observable event method is called in navbar (when the logout option is clicked), the todo component will know, and will execute the todo logout method.-->
    <app-todo [navLogout]="logoutSubject.asObservable()"></app-todo>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
