

<mat-toolbar color="primary" class="header">

  <div class="headerTitle"> My To-do List App</div>

  <div class="headerBtns">

    <div style="display: table-row;">

      <div class="icons">
        <a href="https://github.com/ben-tancock">
          <img class="iconImgs" src="../../assets/images/giticon.png" alt="">
        </a>
      </div>

      <div  class="icons">
        <a href="https://www.linkedin.com/in/ben-tancock/">
          <img class="iconImgs" src="../../assets/images/linkedin_icon.png" alt="">
        </a>
      </div>

    </div>

</div>


</mat-toolbar>



<div class="lboxContainer">
  <div class="loginBox">
    <div>
      <br>
      <p id="title" >User Login</p>
    </div>

    <div class="inputs">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" class="username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="text" class="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <br>
    </div>

    <!-- Style this button so it doesn't look like ass -->
    <div class="btnContainer">
      <button mat-flat-button color="primary">
        Login
      </button>
    </div>
  </div>
</div>
