.header{
  width: 100% !important;
  height: 13%;
}

.headerBtns{
  text-align: center;
  width: 30%;
  display: table;
  margin-left: 20%;

}

span{
  padding-right: 1rem;
}

.headerTitle{
  justify-self: left;
}

.barspace{
  width: 100%;
}

.icons {
  display: table-cell;
  vertical-align: middle;
  height: 120px;
}


.iconImgs{
  width: 20px;
  height: 20px;
  vertical-align: middle;

}

.iconLabel{
  font-size: 12px;
}



.loginBox {
  border: solid 2px gray;
  border-radius: 5%;
  width: 35%;
  max-width: 400px;

  height: 45%;
  max-height: 350px;
}

.inputs {
  height: 60%;
  display: grid;
  align-content: center;
  place-items: center;
}

.lboxContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#title {
  vertical-align: top;
  text-align: center;
  height: 10%;
  font-size: 25px;
}

.btnContainer {
  align-content: center;
  text-align: center;
}

#greetingAlert {
  position: absolute;
  width: 25%;
  text-align: center;
  display: block;
  left: 40%;
  top: 20%;
  margin-right: auto;
}

#loginAlert {
  position: absolute;
  width: 25%;
  text-align: center;
  display: block;
  left: 60%;
  top: 35%;

}

#registrationAlert {
  position: absolute;
  width: 25%;
  text-align: center;
  display: block;
  left: 60%;
  top: 35%;

}


.parent {
  width: 100%;
  height: 100%;
}
