
.create{
  text-align: center;
  padding: 20px;
  margin-left: 100px;
  margin-right: 8%;
  padding: 20px;
 /* border-radius: 10px;
  margin-bottom: 50px;
  margin: 200px;
  margin-top: 0px;
  padding: 20px;
  border: solid black 10px;*/
  float: right;
}

.sidebar{
  width: 100px;
  float: top;
  top: 100px;
}

.sidebar > app-sidebar {
  position: relative;
  bottom: 200px;
}

.taskObject {
 /* border: grey, solid, 10px; ---- doesn't work btw */
  width: 5%;
  box-sizing: border-box;
  text-align: left;

}

.tasks {
  width: 60%;
  margin-left: 20%;
  /*border-bottom: grey solid 2px;*/
  box-sizing: border-box;
  /*padding-bottom: 10px;
  padding-top: 10px;*/
  margin-top: 10px;
  margin-bottom: 10px;
}



.fixedBtn{
  position: fixed;
  margin-bottom: 6%;
  bottom: 0px
}



div.create > input, select, span, textarea{
  margin-bottom: 20px;
  /*vertical-align: top;*/

}


#completeBtn{
  position: relative;
  float: left;
  top: 20px;
}

#deleteBtn{
  position: relative;
  float: right;
  bottom: 50px;

}

/*.tasks > button{
  position: relative;
  float: right;
  bottom: 50px;
}*/

table {
  width: 100%;
}

th {
  /*border: solid green 3px;*/
  width: 100%;
}

.createSection{
  margin-left: 90%;
  margin-right: 10%;
}

.createTab {
  position: absolute;
  width: 600px;
  height: 170px;
  border: solid lightgray 2px;
  border-radius: 15px;
  padding: 15px;
  left: 50%;
  margin-left: -300px;
  top: 30%;
  background-color: white;
}



.tabBtns > button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 40px;
  margin-top: 8%;

}



.descriptionBox {
  position: absolute;
  top: 128px;
  left:20%;

  width: 400px;
  height: 200px;

  outline: none;
  background-color: #ffffff;
  border-radius: 15px;
  /*border: solid black 2px;*/
}

.descriptionBox > * {
  width: 350px;
  height: 150px;
}

/*
.priorityBox {
  position: absolute;
  top: 142px;
  width: 200px;
  height: 50px;
  outline: none;
  left: 35%;
  background: #ffffff;
}*/

::ng-deep .mat-select-arrow { /* hide that stupid drop-down arrow!! */
  visibility: hidden;
}

::ng-deep .mat-menu-panel { /* get that stupid friggin mat menu panel size right */
  padding: 0 10px!important;
  width: 400px!important;
  height:200px!important;
}

#createAlert {
  position: absolute;
  width: 80%;
  height: 50px;
  text-align: center;
  display: block;
  left: 0%;
  top: -37%;
  margin-right: auto;
  background-color: red;
  color: white;
}


::ng-deep .mat-menu-panel {
  max-width: 1000px!important;
  width: 350px;
  height: 400px;
}

.parent {
  width: 100%;
  height: 100%;
}

.dropDown {
  position: relative;
  
}
