
<table #table >
  <tr #tr>
    <th #th>
      <!--[@flyInOut]="didDelete?  'deleted' : 'in'" >
      " (task.id == this.tasks.length) ? '' : ''"-->
      <!-- Since all created tasks are added to the bottom, the creation animation is only applied to the bottom task -->
      <!-- yeah this doesn't really work, since you can any task, not just the bottom, and the id's aren't reorganized -->
      <!-- Oh! oh! even if we introduce drag-and-drop, the created task will always have the highest id number, since we fixed the duplicates thing now!!
        ARRRGHHH but it does it on deletion too!!! why???

      you know, while this doesn't work for the creation notification, when we delete a task, I would like all the tasks below it to animate smoother, could be useful...-->

      <div #div  *ngFor="let task of tasks" taskDirective class="tasks" [@enterLeave] > <!-- [@flyInOut]='state'> -->
        <app-task
        #appTask class="taskObject"
        [taskName] = task.name
        [taskPriority] = task.priority
        [taskDescription] = "task.description"
        [taskDate] = task.date
        [taskId] = task.id
        [taskState] = task.state
        (completed)="completeTask()"
        (animated)="taskAnimated($event)"
        >
        </app-task>
      </div>
    </th>
  </tr>
</table>

<div class="createSection">
  <div class="fixedBtn">
    <button mat-fab [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="background-color: blue;">
      <mat-icon>add_icon</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu" >
    <div class="create" (click) = "$event.stopPropagation()" >
      <p style="vertical-align: middle;"> Task name: <br> <input type="text" #taskName> <br> </p>


      <p style="vertical-align: middle;" >
        <label for="taskDesc">Description: <br> <textarea id="taskDesc" #taskDesc cols="30" rows="5"></textarea></label>
      </p>
      <br>

      <label for="" style="vertical-align: middle;">Priority:</label> <br>
      <select name="" id="" #taskPriority>
        <option selected="selected" value="low">low</option>
        <option value="medium">medium</option>
        <option value="high">high</option>
      </select> <br><br>
      <button  (click)="createTask(taskName.value, taskDesc.value, taskPriority.value);
          taskName.value = ''; taskDesc.value = ''; taskPriority.value = 'low'">Create Task</button>
    </div>
  </mat-menu>
</div>








